$aliceblue            : rgb(240, 248, 255);
$antiquewhite         : rgb(250, 235, 215);
$antiquewhite_1       : rgb(255, 239, 219);
$antiquewhite_2       : rgb(238, 223, 204);
$antiquewhite_3       : rgb(205, 192, 176);
$antiquewhite_4       : rgb(139, 131, 120);
$aquamarine_1         : rgb(127, 255, 212);
$aquamarine_2         : rgb(118, 238, 198);
$aquamarine_3         : rgb(102, 205, 170);
$aquamarine_4         : rgb(69  ,13 , 116);
$azure_1              : rgb(240, 255, 255);
$azure_2              : rgb(224, 238, 238);
$azure_3              : rgb(193, 205, 205);
$azure_4              : rgb(131, 139, 139);
$banana               : rgb(227, 207, 87);
$beige                : rgb(245, 245, 220);
$bisque_1             : rgb(255, 228, 196);
$bisque_2             : rgb(238, 213, 183);
$bisque_3             : rgb(205, 183, 158);
$bisque_4             : rgb(139, 125, 107);
$black                : rgb(0   ,0  , 0);
$blanchedalmond       : rgb(255, 235, 205);
$blue                 : rgb(0   ,0  , 255);
$blue_2               : rgb(0   ,0  , 238);
$blue_3               : rgb(0   ,0  , 205);
$blue_4               : rgb(0   ,0  , 139);
$blueviolet           : rgb(138, 43 , 226);
$brick                : rgb(156, 102, 31);
$brown                : rgb(165, 42 , 42);
$brown_1              : rgb(255, 64 , 64);
$brown_2              : rgb(238, 59 , 59);
$brown_3              : rgb(205, 51 , 51);
$brown_4              : rgb(139, 35 , 35);
$burlywood            : rgb(222, 184, 135);
$burlywood_1          : rgb(255, 211, 155);
$burlywood_2          : rgb(238, 197, 145);
$burlywood_3          : rgb(205, 170, 125);
$burlywood_4          : rgb(139, 115, 85);
$burntsienna          : rgb(138, 54 , 15);
$burntumber           : rgb(138, 51 , 36);
$cadetblue            : rgb(95  ,15 , 160);
$cadetblue_1          : rgb(152, 245, 255);
$cadetblue_2          : rgb(142, 229, 238);
$cadetblue_3          : rgb(122, 197, 205);
$cadetblue_4          : rgb(83  ,13 , 139);
$cadmiumorange        : rgb(255, 97 , 3);
$cadmiumyellow        : rgb(255, 153, 18);
$carrot               : rgb(237, 145, 33);
$chartreuse_1         : rgb(127, 255, 0);
$chartreuse_2         : rgb(118, 238, 0);
$chartreuse_3         : rgb(102, 205, 0);
$chartreuse_4         : rgb(69  ,13 , 0);
$chocolate            : rgb(210, 105, 30);
$chocolate_1          : rgb(255, 127, 36);
$chocolate_2          : rgb(238, 118, 33);
$chocolate_3          : rgb(205, 102, 29);
$chocolate_4          : rgb(139, 69 , 19);
$cobalt               : rgb(61  ,89 , 171);
$cobaltgreen          : rgb(61  ,14 , 64);
$coldgrey             : rgb(128, 138, 135);
$coral                : rgb(255, 127, 80);
$coral_1              : rgb(255, 114, 86);
$coral_2              : rgb(238, 106, 80);
$coral_3              : rgb(205, 91 , 69);
$coral_4              : rgb(139, 62 , 47);
$cornflowerblue       : rgb(100, 149, 237);
$cornsilk_1           : rgb(255, 248, 220);
$cornsilk_2           : rgb(238, 232, 205);
$cornsilk_3           : rgb(205, 200, 177);
$cornsilk_4           : rgb(139, 136, 120);
$crimson              : rgb(220, 20 , 60);
$cyan_1               : rgb(0   ,25 , 255);
$cyan_2               : rgb(0   ,28 , 238);
$cyan_3               : rgb(0   ,25 , 205);
$cyan_4               : rgb(0   ,19 , 139);
$darkgoldenrod        : rgb(184, 134, 11);
$darkgoldenrod_1      : rgb(255, 185, 15);
$darkgoldenrod_2      : rgb(238, 173, 14);
$darkgoldenrod_3      : rgb(205, 149, 12);
$darkgoldenrod_4      : rgb(139, 101, 8);
$darkgray             : rgb(169, 169, 169);
$darkgreen            : rgb(0   ,10 , 0);
$darkkhaki            : rgb(189, 183, 107);
$darkolivegreen       : rgb(85  ,10 , 47);
$darkolivegreen_1     : rgb(202, 255, 112);
$darkolivegreen_2     : rgb(188, 238, 104);
$darkolivegreen_3     : rgb(162, 205, 90);
$darkolivegreen_4     : rgb(110, 139, 61);
$darkorange           : rgb(255, 140, 0);
$darkorange_1         : rgb(255, 127, 0);
$darkorange_2         : rgb(238, 118, 0);
$darkorange_3         : rgb(205, 102, 0);
$darkorange_4         : rgb(139, 69 , 0);
$darkorchid           : rgb(153, 50 , 204);
$darkorchid_1         : rgb(191, 62 , 255);
$darkorchid_2         : rgb(178, 58 , 238);
$darkorchid_3         : rgb(154, 50 , 205);
$darkorchid_4         : rgb(104, 34 , 139);
$darksalmon           : rgb(233, 150, 122);
$darkseagreen         : rgb(143, 188, 143);
$darkseagreen_1       : rgb(193, 255, 193);
$darkseagreen_2       : rgb(180, 238, 180);
$darkseagreen_3       : rgb(155, 205, 155);
$darkseagreen_4       : rgb(105, 139, 105);
$darkslateblue        : rgb(72  ,61 , 139);
$darkslategray        : rgb(47  ,79 , 79);
$darkslategray_1      : rgb(151, 255, 255);
$darkslategray_2      : rgb(141, 238, 238);
$darkslategray_3      : rgb(121, 205, 205);
$darkslategray_4      : rgb(82  ,13 , 139);
$darkturquoise        : rgb(0   ,26 , 209);
$darkviolet           : rgb(148, 0  , 211);
$deeppink_1           : rgb(255, 20 , 147);
$deeppink_2           : rgb(238, 18 , 137);
$deeppink_3           : rgb(205, 16 , 118);
$deeppink_4           : rgb(139, 10 , 80);
$deepskyblue_1        : rgb(0   ,11 , 255);
$deepskyblue_2        : rgb(0   ,18 , 238);
$deepskyblue_3        : rgb(0   ,14 , 205);
$deepskyblue_4        : rgb(0   ,14 , 139);
$dimgray              : rgb(105, 105, 105);
$dimgray              : rgb(105, 105, 105);
$dodgerblue_1         : rgb(30  ,14 , 255);
$dodgerblue_2         : rgb(28  ,13 , 238);
$dodgerblue_3         : rgb(24  ,11 , 205);
$dodgerblue_4         : rgb(16  ,78 , 139);
$eggshell             : rgb(252, 230, 201);
$emeraldgreen         : rgb(0   ,21 , 87);
$firebrick            : rgb(178, 34 , 34);
$firebrick_1          : rgb(255, 48 , 48);
$firebrick_2          : rgb(238, 44 , 44);
$firebrick_3          : rgb(205, 38 , 38);
$firebrick_4          : rgb(139, 26 , 26);
$flesh                : rgb(255, 125, 64);
$floralwhite          : rgb(255, 250, 240);
$forestgreen          : rgb(34  ,13 , 34);
$gainsboro            : rgb(220, 220, 220);
$ghostwhite           : rgb(248, 248, 255);
$gold_1               : rgb(255, 215, 0);
$gold_2               : rgb(238, 201, 0);
$gold_3               : rgb(205, 173, 0);
$gold_4               : rgb(139, 117, 0);
$goldenrod            : rgb(218, 165, 32);
$goldenrod_1          : rgb(255, 193, 37);
$goldenrod_2          : rgb(238, 180, 34);
$goldenrod_3          : rgb(205, 155, 29);
$goldenrod_4          : rgb(139, 105, 20);
$gray                 : rgb(128, 128, 128);
$gray_1               : rgb(3   ,3  , 3);
$gray_10              : rgb(26  ,26 , 26);
$gray_11              : rgb(28  ,28 , 28);
$gray_12              : rgb(31  ,31 , 31);
$gray_13              : rgb(33  ,33 , 33);
$gray_14              : rgb(36  ,36 , 36);
$gray_15              : rgb(38  ,38 , 38);
$gray_16              : rgb(41  ,41 , 41);
$gray_17              : rgb(43  ,43 , 43);
$gray_18              : rgb(46  ,46 , 46);
$gray_19              : rgb(48  ,48 , 48);
$gray_2               : rgb(5   ,5  , 5);
$gray_20              : rgb(51  ,51 , 51);
$gray_21              : rgb(54  ,54 , 54);
$gray_22              : rgb(56  ,56 , 56);
$gray_23              : rgb(59  ,59 , 59);
$gray_24              : rgb(61  ,61 , 61);
$gray_25              : rgb(64  ,64 , 64);
$gray_26              : rgb(66  ,66 , 66);
$gray_27              : rgb(69  ,69 , 69);
$gray_28              : rgb(71  ,71 , 71);
$gray_29              : rgb(74  ,74 , 74);
$gray_3               : rgb(8   ,8  , 8);
$gray_30              : rgb(77  ,77 , 77);
$gray_31              : rgb(79  ,79 , 79);
$gray_32              : rgb(82  ,82 , 82);
$gray_33              : rgb(84  ,84 , 84);
$gray_34              : rgb(87  ,87 , 87);
$gray_35              : rgb(89  ,89 , 89);
$gray_36              : rgb(92  ,92 , 92);
$gray_37              : rgb(94  ,94 , 94);
$gray_38              : rgb(97  ,97 , 97);
$gray_39              : rgb(99  ,99 , 99);
$gray_4               : rgb(10  ,10 , 10);
$gray_40              : rgb(102, 102, 102);
$gray_42              : rgb(107, 107, 107);
$gray_43              : rgb(110, 110, 110);
$gray_44              : rgb(112, 112, 112);
$gray_45              : rgb(115, 115, 115);
$gray_46              : rgb(117, 117, 117);
$gray_47              : rgb(120, 120, 120);
$gray_48              : rgb(122, 122, 122);
$gray_49              : rgb(125, 125, 125);
$gray_5               : rgb(13  ,13 , 13);
$gray_50              : rgb(127, 127, 127);
$gray_51              : rgb(130, 130, 130);
$gray_52              : rgb(133, 133, 133);
$gray_53              : rgb(135, 135, 135);
$gray_54              : rgb(138, 138, 138);
$gray_55              : rgb(140, 140, 140);
$gray_56              : rgb(143, 143, 143);
$gray_57              : rgb(145, 145, 145);
$gray_58              : rgb(148, 148, 148);
$gray_59              : rgb(150, 150, 150);
$gray_6               : rgb(15  ,15 , 15);
$gray_60              : rgb(153, 153, 153);
$gray_61              : rgb(156, 156, 156);
$gray_62              : rgb(158, 158, 158);
$gray_63              : rgb(161, 161, 161);
$gray_64              : rgb(163, 163, 163);
$gray_65              : rgb(166, 166, 166);
$gray_66              : rgb(168, 168, 168);
$gray_67              : rgb(171, 171, 171);
$gray_68              : rgb(173, 173, 173);
$gray_69              : rgb(176, 176, 176);
$gray_7               : rgb(18  ,18 , 18);
$gray_70              : rgb(179, 179, 179);
$gray_71              : rgb(181, 181, 181);
$gray_72              : rgb(184, 184, 184);
$gray_73              : rgb(186, 186, 186);
$gray_74              : rgb(189, 189, 189);
$gray_75              : rgb(191, 191, 191);
$gray_76              : rgb(194, 194, 194);
$gray_77              : rgb(196, 196, 196);
$gray_78              : rgb(199, 199, 199);
$gray_79              : rgb(201, 201, 201);
$gray_8               : rgb(20  ,20 , 20);
$gray_80              : rgb(204, 204, 204);
$gray_81              : rgb(207, 207, 207);
$gray_82              : rgb(209, 209, 209);
$gray_83              : rgb(212, 212, 212);
$gray_84              : rgb(214, 214, 214);
$gray_85              : rgb(217, 217, 217);
$gray_86              : rgb(219, 219, 219);
$gray_87              : rgb(222, 222, 222);
$gray_88              : rgb(224, 224, 224);
$gray_89              : rgb(227, 227, 227);
$gray_9               : rgb(23  ,23 , 23);
$gray_90              : rgb(229, 229, 229);
$gray_91              : rgb(232, 232, 232);
$gray_92              : rgb(235, 235, 235);
$gray_93              : rgb(237, 237, 237);
$gray_94              : rgb(240, 240, 240);
$gray_95              : rgb(242, 242, 242);
$gray_97              : rgb(247, 247, 247);
$gray_98              : rgb(250, 250, 250);
$gray_99              : rgb(252, 252, 252);
$green                : rgb(0   ,18 , 0);
$green_1              : rgb(0   ,25 , 0);
$green_2              : rgb(0   ,28 , 0);
$green_3              : rgb(0   ,25 , 0);
$green_4              : rgb(0   ,19 , 0);
$greenyellow          : rgb(173, 255, 47);
$honeydew_1           : rgb(240, 255, 240);
$honeydew_2           : rgb(224, 238, 224);
$honeydew_3           : rgb(193, 205, 193);
$honeydew_4           : rgb(131, 139, 131);
$hotpink              : rgb(255, 105, 180);
$hotpink_1            : rgb(255, 110, 180);
$hotpink_2            : rgb(238, 106, 167);
$hotpink_3            : rgb(205, 96 , 144);
$hotpink_4            : rgb(139, 58 , 98);
$indian_red           : rgb(176, 23 , 31);
$indianred            : rgb(205, 92 , 92);
$indianred_1          : rgb(255, 106, 106);
$indianred_2          : rgb(238, 99 , 99);
$indianred_3          : rgb(205, 85 , 85);
$indianred_4          : rgb(139, 58 , 58);
$indigo               : rgb(75  ,0  , 130);
$ivory_1              : rgb(255, 255, 240);
$ivory_2              : rgb(238, 238, 224);
$ivory_3              : rgb(205, 205, 193);
$ivory_4              : rgb(139, 139, 131);
$ivoryblack           : rgb(41  ,36 , 33);
$khaki                : rgb(240, 230, 140);
$khaki_1              : rgb(255, 246, 143);
$khaki_2              : rgb(238, 230, 133);
$khaki_3              : rgb(205, 198, 115);
$khaki_4              : rgb(139, 134, 78);
$lavender             : rgb(230, 230, 250);
$lavenderblush_1      : rgb(255, 240, 245);
$lavenderblush_2      : rgb(238, 224, 229);
$lavenderblush_3      : rgb(205, 193, 197);
$lavenderblush_4      : rgb(139, 131, 134);
$lawngreen            : rgb(124, 252, 0);
$lemonchiffon_1       : rgb(255, 250, 205);
$lemonchiffon_2       : rgb(238, 233, 191);
$lemonchiffon_3       : rgb(205, 201, 165);
$lemonchiffon_4       : rgb(139, 137, 112);
$lightblue            : rgb(173, 216, 230);
$lightblue_1          : rgb(191, 239, 255);
$lightblue_2          : rgb(178, 223, 238);
$lightblue_3          : rgb(154, 192, 205);
$lightblue_4          : rgb(104, 131, 139);
$lightcoral           : rgb(240, 128, 128);
$lightcyan_1          : rgb(224, 255, 255);
$lightcyan_2          : rgb(209, 238, 238);
$lightcyan_3          : rgb(180, 205, 205);
$lightcyan_4          : rgb(122, 139, 139);
$lightgoldenrod_1     : rgb(255, 236, 139);
$lightgoldenrod_2     : rgb(238, 220, 130);
$lightgoldenrod_3     : rgb(205, 190, 112);
$lightgoldenrod_4     : rgb(139, 129, 76);
$lightgoldenrodyellow : rgb(250, 250, 2);
$lightgrey            : rgb(211, 211, 211);
$lightpink            : rgb(255, 182, 193);
$lightpink_1          : rgb(255, 174, 185);
$lightpink_2          : rgb(238, 162, 173);
$lightpink_3          : rgb(205, 140, 149);
$lightpink_4          : rgb(139, 95 , 101);
$lightsalmon_1        : rgb(255, 160, 122);
$lightsalmon_2        : rgb(238, 149, 114);
$lightsalmon_3        : rgb(205, 129, 98);
$lightsalmon_4        : rgb(139, 87 , 66);
$lightseagreen        : rgb(32  ,17 , 170);
$lightskyblue         : rgb(135, 206, 250);
$lightskyblue_1       : rgb(176, 226, 255);
$lightskyblue_2       : rgb(164, 211, 238);
$lightskyblue_3       : rgb(141, 182, 205);
$lightskyblue_4       : rgb(96  ,12 , 139);
$lightslateblue       : rgb(132, 112, 255);
$lightslategray       : rgb(119, 136, 153);
$lightsteelblue       : rgb(176, 196, 222);
$lightsteelblue_1     : rgb(202, 225, 255);
$lightsteelblue_2     : rgb(188, 210, 238);
$lightsteelblue_3     : rgb(162, 181, 205);
$lightsteelblue_4     : rgb(110, 123, 139);
$lightyellow_1        : rgb(255, 255, 224);
$lightyellow_2        : rgb(238, 238, 209);
$lightyellow_3        : rgb(205, 205, 180);
$lightyellow_4        : rgb(139, 139, 122);
$limegreen            : rgb(50  ,20 , 50);
$linen                : rgb(250, 240, 230);
$magenta              : rgb(255, 0  , 255);
$magenta_2            : rgb(238, 0  , 238);
$magenta_3            : rgb(205, 0  , 205);
$magenta_4            : rgb(139, 0  , 139);
$manganeseblue        : rgb(3   ,18 , 158);
$maroon               : rgb(128, 0  , 0);
$maroon_1             : rgb(255, 52 , 179);
$maroon_2             : rgb(238, 48 , 167);
$maroon_3             : rgb(205, 41 , 144);
$maroon_4             : rgb(139, 28 , 98);
$mediumorchid         : rgb(186, 85 , 211);
$mediumorchid_1       : rgb(224, 102, 255);
$mediumorchid_2       : rgb(209, 95 , 238);
$mediumorchid_3       : rgb(180, 82 , 205);
$mediumorchid_4       : rgb(122, 55 , 139);
$mediumpurple         : rgb(147, 112, 219);
$mediumpurple_1       : rgb(171, 130, 255);
$mediumpurple_2       : rgb(159, 121, 238);
$mediumpurple_3       : rgb(137, 104, 205);
$mediumpurple_4       : rgb(93  ,71 , 139);
$mediumseagreen       : rgb(60  ,17 , 113);
$mediumslateblue      : rgb(123, 104, 238);
$mediumspringgreen    : rgb(0   ,20 , 154);
$mediumturquoise      : rgb(72  ,20 , 204);
$mediumvioletred      : rgb(199, 21 , 133);
$melon                : rgb(227, 168, 105);
$midnightblue         : rgb(25  ,25 , 112);
$mint                 : rgb(189, 252, 201);
$mintcream            : rgb(245, 255, 250);
$mistyrose_1          : rgb(255, 228, 225);
$mistyrose_2          : rgb(238, 213, 210);
$mistyrose_3          : rgb(205, 183, 181);
$mistyrose_4          : rgb(139, 125, 123);
$moccasin             : rgb(255, 228, 181);
$navajowhite_1        : rgb(255, 222, 173);
$navajowhite_2        : rgb(238, 207, 161);
$navajowhite_3        : rgb(205, 179, 139);
$navajowhite_4        : rgb(139, 121, 94);
$navy                 : rgb(0   ,0  , 128);
$oldlace              : rgb(253, 245, 230);
$olive                : rgb(128, 128, 0);
$olivedrab            : rgb(107, 142, 35);
$olivedrab_1          : rgb(192, 255, 62);
$olivedrab_2          : rgb(179, 238, 58);
$olivedrab_3          : rgb(154, 205, 50);
$olivedrab_4          : rgb(105, 139, 34);
$orange               : rgb(255, 128, 0);
$orange_1             : rgb(255, 165, 0);
$orange_2             : rgb(238, 154, 0);
$orange_3             : rgb(205, 133, 0);
$orange_4             : rgb(139, 90 , 0);
$orangered_1          : rgb(255, 69 , 0);
$orangered_2          : rgb(238, 64 , 0);
$orangered_3          : rgb(205, 55 , 0);
$orangered_4          : rgb(139, 37 , 0);
$orchid               : rgb(218, 112, 214);
$orchid_1             : rgb(255, 131, 250);
$orchid_2             : rgb(238, 122, 233);
$orchid_3             : rgb(205, 105, 201);
$orchid_4             : rgb(139, 71 , 137);
$palegoldenrod        : rgb(238, 232, 170);
$palegreen            : rgb(152, 251, 152);
$palegreen_1          : rgb(154, 255, 154);
$palegreen_2          : rgb(144, 238, 144);
$palegreen_3          : rgb(124, 205, 124);
$palegreen_4          : rgb(84  ,13 , 84);
$paleturquoise_1      : rgb(187, 255, 255);
$paleturquoise_2      : rgb(174, 238, 238);
$paleturquoise_3      : rgb(150, 205, 205);
$paleturquoise_4      : rgb(102, 139, 139);
$palevioletred        : rgb(219, 112, 147);
$palevioletred_1      : rgb(255, 130, 171);
$palevioletred_2      : rgb(238, 121, 159);
$palevioletred_3      : rgb(205, 104, 137);
$palevioletred_4      : rgb(139, 71 , 93);
$papayawhip           : rgb(255, 239, 213);
$peachpuff_1          : rgb(255, 218, 185);
$peachpuff_2          : rgb(238, 203, 173);
$peachpuff_3          : rgb(205, 175, 149);
$peachpuff_4          : rgb(139, 119, 101);
$peacock              : rgb(51  ,16 , 201);
$pink                 : rgb(255, 192, 203);
$pink_1               : rgb(255, 181, 197);
$pink_2               : rgb(238, 169, 184);
$pink_3               : rgb(205, 145, 158);
$pink_4               : rgb(139, 99 , 108);
$plum                 : rgb(221, 160, 221);
$plum_1               : rgb(255, 187, 255);
$plum_2               : rgb(238, 174, 238);
$plum_3               : rgb(205, 150, 205);
$plum_4               : rgb(139, 102, 139);
$powderblue           : rgb(176, 224, 230);
$purple               : rgb(128, 0  , 128);
$purple_1             : rgb(155, 48 , 255);
$purple_2             : rgb(145, 44 , 238);
$purple_3             : rgb(125, 38 , 205);
$purple_4             : rgb(85  ,26 , 139);
$raspberry            : rgb(135, 38 , 87);
$rawsienna            : rgb(199, 97 , 20);
$red_1                : rgb(255, 0  , 0);
$red_2                : rgb(238, 0  , 0);
$red_3                : rgb(205, 0  , 0);
$red_4                : rgb(139, 0  , 0);
$rosybrown            : rgb(188, 143, 143);
$rosybrown_1          : rgb(255, 193, 193);
$rosybrown_2          : rgb(238, 180, 180);
$rosybrown_3          : rgb(205, 155, 155);
$rosybrown_4          : rgb(139, 105, 105);
$royalblue            : rgb(65  ,10 , 225);
$royalblue_1          : rgb(72  ,11 , 255);
$royalblue_2          : rgb(67  ,11 , 238);
$royalblue_3          : rgb(58  ,95 , 205);
$royalblue_4          : rgb(39  ,64 , 139);
$salmon               : rgb(250, 128, 114);
$salmon_1             : rgb(255, 140, 105);
$salmon_2             : rgb(238, 130, 98);
$salmon_3             : rgb(205, 112, 84);
$salmon_4             : rgb(139, 76 , 57);
$sandybrown           : rgb(244, 164, 96);
$sapgreen             : rgb(48  ,12 , 20);
$seagreen_1           : rgb(84  ,25 , 159);
$seagreen_2           : rgb(78  ,23 , 148);
$seagreen_3           : rgb(67  ,20 , 128);
$seagreen_4           : rgb(46  ,13 , 87);
$seashell_1           : rgb(255, 245, 238);
$seashell_2           : rgb(238, 229, 222);
$seashell_3           : rgb(205, 197, 191);
$seashell_4           : rgb(139, 134, 130);
$sepia                : rgb(94  ,38 , 18);
$sgi_beet             : rgb(142, 56 , 142);
$sgi_brightgray       : rgb(197, 193, 170);
$sgi_chartreuse       : rgb(113, 198, 113);
$sgi_darkgray         : rgb(85  ,85 , 85);
$sgi_gray_12          : rgb(30  ,30 , 30);
$sgi_gray_16          : rgb(40  ,40 , 40);
$sgi_gray_32          : rgb(81  ,81 , 81);
$sgi_gray_36          : rgb(91  ,91 , 91);
$sgi_gray_52          : rgb(132, 132, 132);
$sgi_gray_56          : rgb(142, 142, 142);
$sgi_gray_72          : rgb(183, 183, 183);
$sgi_gray_76          : rgb(193, 193, 193);
$sgi_gray_92          : rgb(234, 234, 234);
$sgi_gray_96          : rgb(244, 244, 244);
$sgi_lightblue        : rgb(125, 158, 192);
$sgi_lightgray        : rgb(170, 170, 170);
$sgi_olivedrab        : rgb(142, 142, 56);
$sgi_salmon           : rgb(198, 113, 113);
$sgi_slateblue        : rgb(113, 113, 198);
$sgi_teal             : rgb(56  ,14 , 142);
$sienna               : rgb(160, 82 , 45);
$sienna_1             : rgb(255, 130, 71);
$sienna_2             : rgb(238, 121, 66);
$sienna_3             : rgb(205, 104, 57);
$sienna_4             : rgb(139, 71 , 38);
$silver               : rgb(192, 192, 192);
$skyblue              : rgb(135, 206, 235);
$skyblue_1            : rgb(135, 206, 255);
$skyblue_2            : rgb(126, 192, 238);
$skyblue_3            : rgb(108, 166, 205);
$skyblue_4            : rgb(74  ,11 , 139);
$slateblue            : rgb(106, 90 , 205);
$slateblue_1          : rgb(131, 111, 255);
$slateblue_2          : rgb(122, 103, 238);
$slateblue_3          : rgb(105, 89 , 205);
$slateblue_4          : rgb(71  ,60 , 139);
$slategray            : rgb(112, 128, 144);
$slategray_1          : rgb(198, 226, 255);
$slategray_2          : rgb(185, 211, 238);
$slategray_3          : rgb(159, 182, 205);
$slategray_4          : rgb(108, 123, 139);
$snow_1               : rgb(255, 250, 250);
$snow_2               : rgb(238, 233, 233);
$snow_3               : rgb(205, 201, 201);
$snow_4               : rgb(139, 137, 137);
$springgreen          : rgb(0   ,25 , 127);
$springgreen_1        : rgb(0   ,28 , 118);
$springgreen_2        : rgb(0   ,25 , 102);
$springgreen_3        : rgb(0   ,19 , 69);
$steelblue            : rgb(70  ,13 , 180);
$steelblue_1          : rgb(99  ,18 , 255);
$steelblue_2          : rgb(92  ,17 , 238);
$steelblue_3          : rgb(79  ,14 , 205);
$steelblue_4          : rgb(54  ,10 , 139);
$tan                  : rgb(210, 180, 140);
$tan_1                : rgb(255, 165, 79);
$tan_2                : rgb(238, 154, 73);
$tan_3                : rgb(205, 133, 63);
$tan_4                : rgb(139, 90 , 43);
$teal                 : rgb(0   ,18 , 128);
$thistle              : rgb(216, 191, 216);
$thistle_1            : rgb(255, 225, 255);
$thistle_2            : rgb(238, 210, 238);
$thistle_3            : rgb(205, 181, 205);
$thistle_4            : rgb(139, 123, 139);
$tomato_1             : rgb(255, 99 , 71);
$tomato_2             : rgb(238, 92 , 66);
$tomato_3             : rgb(205, 79 , 57);
$tomato_4             : rgb(139, 54 , 38);
$turquoise            : rgb(64  ,22 , 208);
$turquoise_1          : rgb(0   ,25 , 255);
$turquoise_2          : rgb(0   ,29 , 238);
$turquoise_3          : rgb(0   ,17 , 205);
$turquoise_4          : rgb(0   ,14 , 139);
$turquoiseblue        : rgb(0   ,19 , 140);
$violet               : rgb(238, 130, 238);
$violetred            : rgb(208, 32 , 144);
$violetred_1          : rgb(255, 62 , 150);
$violetred_2          : rgb(238, 58 , 140);
$violetred_3          : rgb(205, 50 , 120);
$violetred_4          : rgb(139, 34 , 82);
$warmgrey             : rgb(128, 128, 105);
$wheat                : rgb(245, 222, 179);
$wheat_1              : rgb(255, 231, 186);
$wheat_2              : rgb(238, 216, 174);
$wheat_3              : rgb(205, 186, 150);
$wheat_4              : rgb(139, 126, 102);
$white                : rgb(255, 255, 255);
$white_smoke          : rgb(245, 245, 245);
$white_smoke          : rgb(245, 245, 245);
$yellow_1             : rgb(255, 255, 0);
$yellow_2             : rgb(238, 238, 0);
$yellow_3             : rgb(205, 205, 0);
$yellow_4             : rgb(139, 139, 0);