<!-- Muhammad Miftah s2757691 -->
<!-- associated controller: mm-about-us.html :: aboutusCtrlFn -->
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <div class="container">
                <h1 class="">About DMS Travel</h1>
                <p>{{ a.pageDescription }}</p>
                <p>This website was authored by Muhammad Miftah s2757691 using the following components:</p>
                <ul>
                    <li><a href="http://angularjs.org">Angularjs v1.3</a></li>
                    <li><a href="http://docs.angularjs.org/api/ngAnimate">Angular Animate (ngAnimate) v1.3</a></li>
                    <li><a href="https://github.com/angular-ui/bootstrap/">Angular Bootstrap (ui-bootstrap) v0.11.2</a></li>
                    <li><a href="https://github.com/Ciul/angularjs-facebook">Angular Facebook (angular-facebook) v0.2.3</a></li>
                    <li><a href="https://github.com/angular/angular.js.git">Angular Route (ngRoute) v1.3.0</a></li>
                    <li><a href="https://github.com/daneden/animate.css">Animate.css v3.1.1</a></li>
                    <li><a href="http://getbootstrap.com">Bootstrap CSS Framework v3.2</a></li>
                    <li><a href="https://github.com/lokesh/lightbox2.git">Lightbox v2</a></li>
                    <li><a href="https://github.com/twbs/bootstrap-sass">Bootstrap SASS Official Port v3.2</a></li>
                    <li><a href="git://github.com/log0ymxm/bootswatch-scss.git">Bootswatch SASS Port v3.2</a></li>
                    <li><a href="http://jquery.com/">jQuery v2.1.1</a></li>
                    <li><a href="https://hendrixer.github.io">ngFx v1.0.4</a></li>
                </ul>
                <h2>Known Issues</h2>
                <p>
                    <ol>
                        <li>The like count does not appear to increment or decrement when the like count is itself more than 25</li>
                        <li></li>
                    </ol>
                </p>    
            </div>
        </div>
    </div>
</div>