<div class="row">
    <div class="col-md-12">
    </div class="panel">
        <div class="jumbotron">
            <div class="container">
                <h1 class="">UI Design</h1>
                <h2>The design is was intended to duplicate the responsiveness of an app; and have no direct HTTP get requests to load entire pages; i.e. it’s designed as a single-page web application.</h2>
                
                <h3>Color:</h3>         
                <p> The colors chosen were intended to contrast well with content, which is presumably much less likely to be as dark (as most photos are taken during the day); dark colors hopefully increase the contrast between the content and the UI that surrounds it. Four main colors were chosen: teal, dark-blue, black and white; 1-2 variations of each colors are used. </p>
                
                <h3>Texture:</h3>         
                <p> Decided to not use texture except on the splash screen; a white background would probably be less distracting. The texture of the world map on the splash screen is more thematically appropriate.</p>
                
                <h3>Emphasis and Hierarchy: </h3>         
                <p>The fixed top &amp; left navigation bars of the page are meant to serve as constant hierarchy indicators to the user. </p>
                
                <h3>Contrast: </h3>            
                <p>The navigational elements were colored dark so as to contrast with the content and distinguish the content from the UI chrome more easily. </p>
                
                <h3>Repetition: </h3>            
                <p>All thumbnails use the same width and height dimensions so as to keep the repeating of thumbnails consistent.</p>
                
                <h3>Rhythm: </h3>            
                <p>The thumbnail borders, and button borders maintain a consistent border radius size. The animated elements on the splash screen also use similar easing functions.</p>
                
                <h3>Harmony: </h3>            
                <p>Only quadrilateral shapes were used to maintain a sense of harmony.</p>
                
                <h3>Unity: </h3>            
                <p>Tried to keep the design elements relating to one another, no elements that stood out to much from others.</p>
                
                <h3>Proximity: </h3>            
                <p>The thumbnails are kept closer together than they are further apart from the user so as to allow the user to intuit they are part of the same group.</p>
                
                <h3>Alignment: </h3>            
                <p>Used Bootstrap’s 12-column grid system to keep alignment naturally responsive to the width of the viewport.</p>
                
                <h3>Typography: </h3>             
                <p>Text is truncated with an ellipsis so as to indicate that content overflows. </p>

            </div>
        </div>
    </div>
    </div>
</div>