<!-- Muhammad Mifah s2757691 -->
<!-- associated controller: mm-splash.js :: splashScreenCtrlFn -->
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron mm-jumbotron">
            <div class="container">
                <h1 class="animated twice wobble">Welcome to DMS Travel!</h1>
                <p>{{ s.pageDescription }}</p>
                <p>
                    <a href="/#/gallery"class="btn btn-primary btn-lg" role="button">See our travellers' photos!</a>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mm-login-modal">Launch demo modal</button> -->
<!-- <mm:modal class="fade" id="mm-login-modal" role="dialog" tabindex="1" aria-labelledby="me" aria-hidden="false">
    <mm:modalheader>
        Title
    </mm:modalheader>
    
    <mm:modalbody>
        Body
    </mm:modalbody>

    <mm:modalfooter>
        Footer
    </mm:modalfooter>
</mm:modal> -->

<!-- Animated elements -->
<div class="row">
    <div class="col-md-4 animated flipInY once delayed mm-placeholder-1">
        <img ng:src="./images/travel/globe_filled-256.png" />
    </div>
    <div class="col-md-4 animated flipInX once delayed mm-placeholder-2">
        <img ng:src="./images/travel/map_marker-256.png" />
    </div>
    <div class="col-md-4 animated bounceInUp once delayed mm-placeholder-3">
        <img ng:src="./images/travel/airport-256.png" />
    </div>
</div>